/**
 * unit-selftest:/form.css
 *
 * @creation  2018-05-11
 * @version   1.0
 * @package   unit-selftest
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

#UNIT_SELFTEST div.table {
	border: 1px solid black;
	padding: 1em 1.5em;
	display: table;
}

#UNIT_SELFTEST div.table > div {
	display: table-row;
}

#UNIT_SELFTEST div.table > div > div {
	vertical-align: middle;
	display: table-cell;
}

#UNIT_SELFTEST div.table > div > div:first-child {
	text-align:  center;
	font-weight: bold;
}

#UNIT_SELFTEST div.table > div > div:nth-child(2):not(.not):before {
	margin: 0 0.2em;
	font-weight: bold;
	content:":";
}

#UNIT_SELFTEST div.table > div:last-child > div.not {
	text-align: center;
}

#UNIT_SELFTEST select {
	margin:  0.1em 0;
}

#UNIT_SELFTEST input[type="text"],
#UNIT_SELFTEST input[type="password"],
#UNIT_SELFTEST button {
	border:  1px solid #c0c0c0;
	margin:  0.1em 0;
	padding: 0.2em 0.5em;
	width: 10em;
}

#UNIT_SELFTEST input[type="password"] {
	letter-spacing: 0.1em;
}

#UNIT_SELFTEST button {
	border:  1px solid #303030;
	margin-top: 0.5em;
	padding: 0.25em;
	background-color: #f0f0f0;
	opacity: 0.75;
}

#UNIT_SELFTEST button:hover {
	border:  1px solid #555;
	opacity: 1;
}

#UNIT_SELFTEST label {
	margin-left: 1em;
}

p.testcase.selftest {
	padding: 1em 0;
}
