/**
 * app-skeleton-webpack:/css/app/body.css
 *
 * @creation  2018-04-12
 * @version   1.0
 * @package   app-skeleton-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body {
	color: black;
	background-color: white;
	font-size: 9pt;
}
