/**
 * app-skeleton-webpack:/css/app/form.css
 *
 * @creation  2018-05-16
 * @version   1.0
 * @package   app-skeleton-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body form.OP input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
body.body form.OP textarea,
body.body form.OP button,
body.body form.OP submit {
	border:  1px solid #ccc;
	margin:  0.1em 0;
	padding: 0.2em 0.4em;
	_color:  #444;
}

body.body form.OP input:not([type="radio"]):not([type="checkbox"]),
body.body form.OP textarea {
	width: 16em;
	font-size: inherit;
}

body.body form.OP textarea {
	height: 4.6em;
}

body.body form.OP select[multiple] option {
	padding: 0.1em 0.2em;
}

body.body form.OP input[type="radio"],
body.body form.OP input[type="checkbox"] {
	margin-right: 0.25em;
}

body.body form.OP [readonly="readonly"] {
	color: #888;
	cursor: not-allowed;
}

body.body form.OP label {
	margin-right: 0.5em;
}

body.body form.OP button,
body.body form.OP input[type="submit"] {
	border-radius: 0.2em;
	background-color: #e9e9e9;
}

body.body form.OP button:hover:not(:disabled),
body.body form.OP input[type="submit"]:hover:not(:disabled) {
	border-color:     #909090;
	background-color: #f0f0f0;
	color: #000;
}

body.body form.OP button:active,
body.body form.OP input[type="submit"]:active {
	border-color:     #606060 !important;
	background-color: #e0e0e0 !important;
	outline: none !important;
}

body.body form.OP button:focus,
body.body form.OP input[type="submit"]:focus {
	border-color:     #606060 !important;
	outline: none !important;
}

body.body form.OP button::-moz-focus-inner,
body.body form.OP input[type="submit"]::-moz-focus-inner {
	border :0px;
}

body.body form.OP button:disabled,
body.body form.OP input[type="submit"]:disabled {
	color: #999;
	cursor: not-allowed;
}

body.body form.OP label.read-only,
body.body form.OP input:read-only,
body.body form.OP textarea:read-only {
	color: #999;
}

body.body form.OP label.cursor.wait,
body.body form.OP input.cursor.wait,
body.body form.OP select.cursor.wait,
body.body form.OP textarea.cursor.wait {
	color: #999;
	cursor: wait;
}
