/**
 * app-webpack-css:/webpack/css/app/pager.php
 *
 * @creation  2018-06-04
 * @version   1.0
 * @package   app-webpack-css
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body .OP.pager {
	_border: 1px solid black;
	text-align: center;
}

body.body .OP.pager span.page {
	padding: 0.1em;
}

body.body .OP.pager span.page a,
body.body .OP.pager span.page span.current {
	margin:  0;
	padding: 0.1em 0.2em;
}

body.body .OP.pager span.page span.current {
	border: 1px solid #c0c0c0;
	background-color: #f0f0f0;
}

body.body .OP.pager span.top a:before {
	content:"<<";
}

body.body .OP.pager span.last a:after {
	content:">>";
}
