/**
 * layout-chameleon:/css/color.css
 *
 * @creation  2018-10-26
 * @version   1.0
 * @package   layout-chameleon
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body {
	background-color: hsl(var(--root-hue), 40%, 95%);
	color: hsl(var(--root-hue), 35%, 55%);
}

body.body .background {
	background-color: hsl(var(--root-hue), 40%, 95%);
}

body.body .border {
	border-color: hsl( var(--root-hue), 50%, 50%);
}

body.body .success {
	color: hsl( calc(var(--root-hue) + 50), 75%, 45%);
}

body.body .error {
	color: hsl( calc(var(--root-hue) - 90), 100%, 50%);
}

body.body .transparency {
	background-color: hsla(var(--root-hue), 40%, 95%, 0.5);
}
